* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6EFF6;
    font-family: Arial, Helvetica, sans-serif;
}


/* angle of triangle game */
.container {
    width: 90vw;
    margin: 10vh auto;
}

.angleoftrainglecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2BB3B1;
    padding: 15px 10px;
    box-shadow: 4px 4px 9px rgba(49, 49, 49, 0.438);
}

input {
    display: inline;
    width: 25%;
    padding: 15px 5px;
}

input::placeholder {
    font-size: .5rem;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
}

.goback , .submitangle {
    padding: 7px 15px;
    margin: 5vh 0;
    border: 1px solid rgba(58, 57, 57, 0.274);
    background-color: #BFDF32;
}

.outputofangleoftriangle {
    width: 100%;
    border: 1px solid black;
    padding: 10px 5px;
    margin-bottom: 3vh;
}

.gametitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 2vh;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.question {
    background-color: chartreuse;
    padding: 10px;
    margin-top: 3vh;
}

.formulaone {
    padding: 10px 5px;
    width: 20vw;
    margin-top: 5vh;
}

.formula {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.calculateareainputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.base, .height, .firstside, .secondside, .thirdside, .bsecond, .afirst, .onlyangle, .aside, .bside {
    width: 50%;
    padding: 20px 5px;
}

.calculateareainputs {
    margin-bottom: 8vh;
}

.formulaonedisplayed {
    margin: 10vh 0;
}

.options {
    margin-top: 3vh;
    padding: 8px 15px;
    margin-right: 1vw;
}


@media only screen and (min-width: 700px) {
    .container {
        width: 50vw;
    }
}